@font-face {
	font-family: 'MyFont';
	src: url('./my-font.ttf');
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
	font-family: 'MyFont';
	background: url('./icon.jpeg');
	width: 100px;
	height: 100px;
}
img {
	width: 100px;
	height: 100px;
}